.link {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  font-weight: 500;
  color: #2a363b;
  font-size: 18px;
}

.activeLink {
  composes: link;
  color: #2196f3;
}

ul {
  list-style: none;
}

.isBold {
  font-weight: 700;
}

.goBack {
  font-size: 12px;
}

.title {
  margin-bottom: 20px;
}

.movieInfo {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.moviePoster {
  margin-right: 20px;
  margin-bottom: 20px;
}

.movieData {
  width: 65%;
}

.movieTitile {
  font-size: 20px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.movieText {
  margin-bottom: 20px;
  padding-left: 20px;
}

.addInfo {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 1px solid #2a363b;
  border-bottom: 1px solid #2a363b;
}

.castList {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-right: -20px;
  margin-bottom: -20px;
}

.castInfo {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 20px;
  width: calc((100% / 3) - 20px);
  border: 1px rgb(42, 157, 246) solid;
  border-radius: 5px;
}

.castsData {
  width: calc(100% - 120px);
  padding-top: 10px;
}

.castsText {
  margin-bottom: 10px;
}

.reviewList {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 20px;
}

.itemPoster {
  display: block;
  margin: 5px;
}

.reviewAvatar {
  display: block;
  margin: 5px 5px 0 5px;
}

.reviewInfo {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-bottom: 20px;
  border: 1px rgb(42, 157, 246) solid;
  border-radius: 5px;
}

.find {
  width: 60%;
  margin-bottom: 30px;
  margin-left: 10px;
}
